body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: black;
  background: rgb(240, 236, 236);
}

header {
  background: white;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;  
}

h1 {
  padding: 21px 15px;
  margin: 0px 15px;
  margin-right: -115px;
  font-size: 28px;
  color:white;
  text-align: center;
  background: blue;
  ;
  
}

h2 {
  font-size: 24px;
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  color: blue;
  text-align: left;
}

hr {
  width: 800px;
  margin-left: -10px;
}

a {
  margin-right: 10px;
  color:gray;
  text-align: right;
}

.divide{
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

footer {
  background: black;
  height: 58px;
  margin-top: 33px;
  border-top-style: solid;
  border-top-color: blue;
  border-top-width: 10px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

h6 {
  color: white;
  text-align: center;
}

/* .myContainer {
  margin-right: 130px;
  margin-left: 30px;
} */

.container2 {
  clear: both;
  /* width: 930px;
  height: 500px; */
  background-color: white;
  margin-left: 180px;
  padding-left: 30px;
}

.container2 section {
  display: inline;
}

.images {
  float: right;
  margin-right: 20px;
  height: 100px;
  width: 100px;
}

.resume{
  height:90%;
  width: 90%;
}

.images2 {
  clear: both;
  display: inline;
}

.images3 {
  clear: both;
  float: middle;
}

.form1{
  padding-bottom: 10px;
}

.leftpic{
  float: left;
}

.rightpic{
float: right;
}

.indent{
  margin: 1.5%;
}

#right {
  float: right;
  text-align: left;
  margin-top: 20px;
}

#left {
  float: left;
}

#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#main-bio {
  width: 100%;
}

#contact-info {
  width: 30%;
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.inField {
  width: 40%;
}

#subject {
  width: 100%;
  height: 200%;
  border: 1px solid grey;
}

.icon{
  height: 10%;
  width: 7%;
}

element.style {
  width: 50%;
  height: 50%;
  border: 0;
}

.img-fluid {
  padding: 10px;
}
/*Custom media queries below */

/* Greater than 980px, Desktop */
@media screen and (min-width:980px) {
  .nav-wrapper {
    justify-content: flex-end;
  }
    
}

/* Greater than 641px and less than 979px, Tablet */
@media (min-width:641px) and (max-width:979px) {
  .nav-wrapper {
      justify-content: center;
  }
  .portfolio-page {
    position: relative;
    bottom: 0;
  }
}

/* Less than 640px, Mobile */
@media screen and (max-width:640px) {
  .nav-wrapper {
      justify-content: center;
  }
}